@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: 'Anton', sans-serif;
    background-color: rgba(229, 208, 208, 0.6);
}

main {
    border: 1px solid black;
    height: 70%;
    margin-top: 9%;
    padding: 0.5em;
}

.rock, .rap-trap, .reggaeton, .electronica, .hardcore, .pop {
    height: 20%;
    margin-left: 10%;
    padding: 0.5em;
}

