@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    height: 1500px;
    font-family: 'Anton', sans-serif;
    background-color: rgba(229, 208, 208, 0.6);
}

main {
    height: 70%;
}

.carousel {
    height: 45%;
}

img {
    height: 740px;
}

.entrada, .calendario {
    border: 1px solid black;
    height: 50%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: bisque;
}

.caja {
    margin: auto;
    margin-top: 2%;
}

.caja h3, h4 {
    text-align: center;
}